@model HospitalManagement.Models.ViewModels.LoginViewModel

@{
    ViewData["Title"] = "Log in";
}

<head>
    <link href="~/css/Account/login.css" rel="stylesheet" />
</head>

<div class="container-lg my-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h2>@ViewData["Title"]</h2>
                </div>
                <div class="card-body">
                    <form id="Account" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

                        <div class="form-floating">
                            <input asp-for="Email" class="form-control" autocomplete="username" aria-required="true" />
                            <label asp-for="Email">Email</label>
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>

                        <div class="form-floating">
                            <input asp-for="Password" class="form-control" type="password" autocomplete="current-password" aria-required="true" />
                            <label asp-for="Password">Password</label>
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>

                        <div class="form-check mb-3">
                            <input class="form-check-input" asp-for="RememberMe" />
                            <label asp-for="RememberMe" class="form-check-label">
                                @Html.DisplayNameFor(m => m.RememberMe)
                            </label>
                        </div>

                        <button id="login-submit" type="submit" class="w-100 btn btn-primary">Log in</button>
                    </form>
                </div>
                <div class="card-footer">
                    <div class="text-center">
                        <p>
                            <a asp-controller="Account" asp-action="Register">Register as a new user</a>
                        </p>
                    </div>
                    <div class="text-center mt-3">
                        <a class="btn btn-outline-danger" href="/Account/ExternalLogin?provider=Google">Đăng nhập với Google</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
